.orderitems
  受注一覧
  .orderitems__detail
    %table
      %tr
        %th.orderitems__detail--code
          オーダーID
        %th.orderitems__detail--code
          注文者
        %th.orderitems__detail--name
          注文日時
      - @orders.each do |order|      
        %tr
          %td.orderitems__detail--code
            = order.id
          %td.orderitems__detail--code
            = order.username
          %td.orderitems__detail--name
            = order.created_at.strftime("%Y-%m-%d %H:%M:%S")
  %button.orderitems__list
    = link_to "受注商品一覧へ", adm_orderitems_path
         