.orders
  .orders__detail
    .orders__detail__title
      注文履歴
    .orders__detail__history
      - @orders.each do |order|
        = order.created_at.strftime("%Y/%m/%d(%a) %H:%M")
        %button
          = link_to "詳細", user_order_orderitems_path(current_user, order), class:"orders__detail__history__order"
        %br
    .orders__detail__returntop
      %button
        = link_to 'トップに戻る', root_path