.footer {
  width: 100%;
  // min-width: 600px;
  height: 70px;
  clear: both;
  padding: 10px;
  background-color: gray;
  &__contents {
    font-weight: bolder;
    margin-bottom: 5px;
  }
  &__rights {
    font-size: 15px;
  }  
}