.item {
  &__delete {    
    width: 600px;
    text-align: center;  
    & button {
      font-size: 16px;
      border-radius: 5px;
      text-align: center;
      background-color: lightgray;
      & a {
        color: black;
        text-decoration: none;
      }
    }
  }
}