.item {
  &__delete {    
    width: 700px;
    text-align: center;  
    & button {
      font-size: 16px;
      border-radius: 5px;
      text-align: center;
      background-color: lightgray;
      & a {
        color: black;
        text-decoration: none;
      }
    }
  }
}



// .redirect__adtop {
//   width: 500px;
//   text-align: center;
//   margin: 30px;
// }