// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart {
  width: calc( 100% - 150px );
  height: calc( 100vh - 100px - 70px);
  float: left;
  overflow: scroll;
  &__head {
    padding: 30px;
    font-size: 26px;
  }
  &__items {
    font-size: 18px;
    padding: 30px;  
    &__head {
      height: 70px;
      text-align: center;
      padding: 10px;
    }
    &__index {
      width: 20px;
      height: 70px;
      line-height: 70px;
    }
    &__name {
      width: 500px;
      height: 70px;
      padding: 10px;
    }
    &__price {
      width: 100px;
      height: 70px;
      text-align: right;
      padding: 10px;
    }
    &__quantity {
      width: 60px;
      height: 70px;
      text-align: right;
      padding: 10px;
    }
  }
}

.orders {
  &__detail {
    padding: 30px;
    &__title {
      margin-bottom: 10px;
    }
    &__history {
      button {
        margin-left: 10px;
      }
      
    }
    &__delete {
      padding: 20px;
      & button {
        // width: 130px;
        height: 30px;
        margin-right: 10px;      
        a {
          padding: 5px 30px;
        }
      }
    }
    &__returntop {
      margin: 30px;
      & button {
        padding: 5px;
      }
    }
  }
}