// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order {
  width: 100%;
  min-width: 820px;
  height: 100%;
  &__new {
    width: 100%;
    height: calc( 100vh - 100px );
    background-color: lightgray;
    padding: 30px;
    &__title {
      font-size: 20px;
    }
    &__items {
      width: 775px;
      font-size: 16px;
      margin: 20px;
      &__name {
        width: 450px;
        padding: 0px 5px;
        display: inline-block;
      }
      &__price {
        width: 80px;
        padding: 0px 5px;
        display: inline-block;
        text-align: right;
      }
      &__quantity {
        width: 70px;
        padding: 0px 5px;
        display: inline-block;
        text-align: right;
      }
      &__pq {
        width: 80px;
        padding: 0px 5px;
        display: inline-block;
        text-align: right;
      }
      &__tax {
        width: 70px;
        padding: 0px 5px;
        display: inline-block;
        text-align: right;
      }
      &__sumprice {
        border-top: solid 2px;
      }
      &__all {
        width: 450px;
        font-size: 16px;
        font-weight: bold;
        padding: 0px 5px;
        display: inline-block;
        text-align: right;
        margin-bottom: 5px;
      }
      &__form {
        margin-top: 20px;
        &--name {
          width: 150px;
          padding: 0px 5px;
          text-align: right;
        }
      }
      &__submit {
        height: 20px;
        text-align: center;
        margin: 20px;
      }
      &__back {
        margin-right: 20px; 
        button {
          font-size: 12px;
          border-radius: 5px;
          vertical-align: bottom;
          cursor: pointer;
        }
      }
      &__submit-btn {
        width: 100px;
        height: 50px;
        font-size: 16px;
        padding: 30px;
        background-color: #fff;
        cursor: pointer;
      }
    }
  }
}