= render "shared/adheader"
.item__create
  .item__create__message
    - if @item.errors.any?
      - @item.errors.full_messages.each do |message|
        = message
        %br
    - else
      商品登録が完了しました。
  .item__create__box

  .item__create__redirect
    