// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order {
  &__new {
    padding: 30px;
    &__title {
      font-size: 20px;
    }
    &__items {
      width: 960px;
      font-size: 18px;
      margin: 20px;
      &__name {
        width: 450px;
        display: inline-block;
      }
      &__price {
        width: 70px;
        display: inline-block;
        text-align: right;
      }
      &__quantity {
        width: 60px;
        display: inline-block;
        text-align: right;
      }
      &__pq {
        width: 70px;
        display: inline-block;
        text-align: right;
      }
      &__tax {
        width: 50px;
        display: inline-block;
        text-align: right;
      }
      &__submit {
        height: 50px;
        text-align: center;
        margin: 20px;
      }
      &__submit-btn {
        width: 100px;
        height: 50px;
        font-size: 16px;
        padding: 30px;
        background-color: #fff;
      }
    }
  }
}