// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loginform {
  padding: 30px;
}

.field {
  margin-top: 10px;
}

.actions {
  margin: 20px 0px;
}